@import url("fonts.css");
/* ======================== */
@import url("reset.css");
/* =========================== */
.wrapper {
  min-height: 100%;
  overflow: clip;
  /* background-color: rgb(238, 233, 233); */
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
/* ================ */
[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ================================ */
/* ====== Lesson-15 === Header == */
.header {
  background-color: white;
  min-height: 46px;
  padding: 34px 0 31px 0;
  margin-bottom: 40px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 12px 48px;
  border-radius: 8px;
  background: #f6f6f6;
}
.header__search a {
  color: #807d7e;
  text-align: center;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
}
.header__search:before {
  content: "";
  background: url(../img/search-icon.svg) 0 0 / cover no-repeat;
  width: 20px;
  height: 20px;
}
.header__select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  color: #333;
  font-family: "Causten";
  font-size: 18px;
  padding: 12px;
  border: 1px solid transparent;
}
.header__select::after {
  content: "";
  background: url("../img/triangle-down.svg") 0 0 / cover no-repeat;
  width: 10px;
  height: 5px;
}
.header__select:hover .lang {
  display: block;
}
.header__select:hover {
  background-color: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 8px;
}
.header__lang {
  display: none;
  position: absolute;
  top: 100%;
  left: 5%;
  width: 200px;
  height: 100%;
  z-index: 30;
}
.lang__item {
  width: 205px;
  padding: 5px;
  background-color: #f6f6f6;
}
.lang__link {
  text-align: start;
  display: block;
  color: #333;
  font-family: "Causten";
  font-size: 18px;
  padding: 5px 10px;
  align-items: center;
  border: 1px dotted rgb(156, 156, 156);
  border-radius: 8px;
}
.lang__link:hover {
  background-color: #e2cdff;
}
.header__user {
  display: flex;
  justify-content: flex-end;
  gap: 29px;
}
.header__user a {
  color: #8a33fd;
  text-align: center;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
  padding: 12px 48px;
  border-radius: 8px;
  border: 1px solid #3c4242;
}
.header__user a:hover {
  color: white;
  background: #8a33fd;
  border: 1px solid transparent;
}
/* ================= Categories-Men ====================== */
.men {
  margin-bottom: 40px;
  background-color: white;
  border-top: 1px solid blue;
  padding-top: 15px;
}
.men__title {
  display: flex;
  column-gap: 20px;
  color: #3c4242;
  font-family: "CoreSansC";
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98; /* 98.529% */
  letter-spacing: 0.68px;
  margin-bottom: 70px;
}
.men__title:before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8a33fd;
}
.men__cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.cart__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 0 1 270px;
}
.cart__image {
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(180, 180, 180);
}
.cart__image img {
  max-width: 100%;
}
.cart__content {
  display: flex;
  justify-content: space-between;
  column-gap: 73px;
}
.cart__body {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.cart__title {
  color: #2a2f2f;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56; /* 156.25% */
  letter-spacing: -0.715px;
  /* flex: 1 1 auto; */
}
.cart__text {
  color: #7f7f7f;
  font-family: "Causten";
  font-size: 14px;
  font-weight: 500;
  line-height: 2; /* 208.333% */
  letter-spacing: -0.536px;
}
.cart__link {
  background: url("../img/categ-men/arrow-right.svg") center no-repeat;
  /* width: 100%; */
  min-height: 14px;
  flex: 0 0 18px;
  align-self: flex-start;
  margin-top: 7px;
}
/* ==================== Wishlist ========== */
.whishlist__container {
  border-top: 1px solid blue;
  padding-top: 15px;
  margin-bottom: 40px;
}
.wishlist__title {
  color: #3c4242;
  font-family: "CoreSansC";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2; /* 119.643% */
  letter-spacing: 0.56px;
  margin-bottom: 50px;
}
.wishlist__body {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.wishlist__product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 36px;
}
.product__delete {
  background: url("../img/wishlist/close-icon.svg") center / cover no-repeat;
  flex: 0 0 22px;
  height: 22px;
  align-self: center;
}
.product__delete:hover {
  cursor: pointer;
  background: url("../img/wishlist/close-icon-red.svg") center / cover no-repeat;
  background-color: rgb(216, 216, 216);
  transform: scale(1.2);
}
.product__image {
  flex: 0 0 118px;
}
.product__image img {
  min-width: 118px;
  width: 100%;
}
.product__main {
  flex: 1 1 auto;
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
}
.main-product__body {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-self: center;
}
.main-product__body span {
  color: #807d7e;
}
.main-product__title,
.main-product__color,
.main-product__quantity,
.main-product__cost {
  color: #3c4242;
  font-family: "Causten";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
}
.main-product__cost {
  align-self: center;
  color: #807d7e;
}
.product__select {
  align-self: center;
}
.product__select a {
  color: #fff;
  text-align: center;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #8a33fd;
  position: relative;
  top: 0;
  box-shadow: 3px 3px 3px black;
  transition: all 0.3s;
}
.product__select:hover a {
  background: #7d1aff;
}
.product__select:active a {
  box-shadow: 1px 1px 0px black;
  top: 3px;
}
/* ================== Orders =========== */
.orders__container {
  border-top: 1px solid blue;
  padding-top: 15px;
  margin-bottom: 40px;
  max-width: 895px;
}
.orders__title {
  color: #3c4242;
  font-family: "CoreSansC";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2; /* 119.643% */
  letter-spacing: 0.56px;
  margin-bottom: 38px;
}
.orders__body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.order__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #edeef2;
}
.order__status {
  padding: 28px 47px;
  border-radius: 8px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.order__title {
  color: #3c4242;
  font-family: "Causten";
  font-size: 20px;
  font-weight: 600;
}
.order__transport {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
}
.order__date,
.order__delivery {
  color: #807d7e;
  font-family: "Causten";
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.order__date span {
  color: #bebcbd;
  font-weight: 400;
}
.order__delivery {
  text-align: right;
}
.order__delivery span {
  color: #bebcbd;
  font-weight: 400;
}
.order__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}
.descr__image {
  flex: 0 0 96px;
  border-radius: 4px;
  overflow: hidden;
}
.descr__image img {
  max-width: 96px;
  width: 100%;
}
.descr__main {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.descr__title {
  flex: 1 1 auto;
  color: #3c4242;
  font-family: "Causten";
  font-size: 16px;
  font-weight: 600;
}
.descr__title a {
  margin-bottom: 10px;
}
.descr__color,
.descr__qty,
.descr__total {
  color: #3c4242;
  font-family: "Causten";
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.descr__title span {
  color: #bebcbd;
}
.descr__total {
  color: #807d7e;
}
.descr__link {
  align-self: center;
}
.descr__link a {
  padding: 14px 28px;
  color: #fff;
  text-align: center;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background: #8a33fd;
  position: relative;
  top: 0;
  box-shadow: 3px 3px 3px black;
  transition: all 0.3s;
}

.descr__link:hover a {
  background: #7d1aff;
}
.descr__link:active a {
  box-shadow: 1px 1px 0px black;
  top: 3px;
}
/* ================== Practic =============== */
.page__container p {
  font-size: 32px;
  font-weight: 500;
  color: darkred;
}
.block {
  max-width: 100%;
  /* height: 700px; */
  /* min-height: 100%; */
  border: 5px solid gold;
  background-color: rgb(42, 97, 46);
  /* align-items: center; */
  display: flex;
  /* display: inline-flex; */
  flex-wrap: wrap;
  justify-content: start;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  align-items: start;
  /* flex-direction: column; */
  /* row-gap: 15px;
  column-gap: 5px; */
  gap: 20px;
}
.block__item {
  width: 150px;
  /* height: 100px; */
  padding: 10px;
  color: white;
  font-size: 32px;
  font-weight: 600;
  border: 5px solid rgb(52, 255, 238);
  background-color: rgb(138, 17, 138);
}
.block__item:nth-child(3) {
  align-self: end;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 550px;
}
.block__item:nth-child(4) {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 550px;
}
.block__item:nth-child(2) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 550px;
}
.block__item:nth-child(7) {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 550px;
}
.footer {
  color: darkred;
  font-size: 40px;
  background-color: skyblue;
}
