@import url("fonts.css");
@import url("reset.css");
/* ============== */
.header,
.footer {
  font-family: "ClickerScript";
  font-size: 40px;
  color: darkred;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 10px;
  background-color: rgba(173, 216, 230, 0.5);
}
.header {
  margin-bottom: 10px;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.page {
  display: grid;
  gap: 100px;
}
[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ========== Offer-section ======= */
.offer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  grid-auto-rows: 1fr;
  gap: 2.3%;
}

/* .cart__wrapper {
  width: 100%;
  height: 100%;
}

.cart__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 605 / 356;
  object-fit: cover;
  object-position: top right;
  border-radius: 12px;
}
.cart__body {
  position: absolute;
  top: 18.8%;
  left: 4.6%;
  width: 50%;
  height: 80%;
  border-radius: 12px;
} */
/* ============================= */
.cart {
  position: relative;
  border-radius: 12px;
  z-index: -1;
}
.cart__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(126, 126, 126);
  border-radius: 12px;
  z-index: -1;
}
.cart__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 605 / 356;
  object-fit: cover;
  object-position: top right;
  border-radius: 12px;
}
.cart__body {
  padding: 67px 28px;
  border-radius: 12px;
  z-index: 1;
}
/* ================================= */
.content-cart {
  display: grid;
  gap: 10px;
}
.content-cart__label {
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.7;
  letter-spacing: 0.251px;
  margin-bottom: 24px;
}
.content-cart__title {
  color: #fff;
  font-family: "CoreSansC";
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 9px;
}
.content-cart__text {
  color: #fff;
  font-family: "CoreSansC";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.251px;
  margin-bottom: 41px;
}
.content-cart__link {
  color: #fff;
  font-family: "CoreSansC";
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  padding: 5px;
  text-decoration-line: underline;
  border: 1px solid transparent;
  border-radius: 8px;
  max-width: 100%;
  grid-auto-columns: auto;
  cursor: pointer;
}
@media (any-hover: hover) {
  .content-cart__link:hover {
    text-decoration-line: none;
    border: 1px solid white;
  }
}
@media (max-width: 1270px) {
  .cart__body {
    top: 10%;
  }
  .content-cart__label,
  .content-cart__text {
    margin-bottom: 15px;
    line-height: 1;
  }
}
@media (max-width: 1050px) {
  .offer__container {
    gap: 2.3%;
  }
  .cart__body {
    width: 90%;
  }
  .cart__body--price {
    background-color: #f8bf6f60;
  }
  .cart__body--present {
    background-color: #a98cc260;
  }
}
@media (max-width: 900px) {
  .content-cart__title {
    font-size: 22px;
  }
}
@media (max-width: 790px) {
  .offer__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.3%;
  }
  .content-cart {
    gap: 15px;
  }
  .content-cart__title {
    font-size: 28px;
    line-height: 1;
  }
}
@media (max-width: 500px) {
  .cart__body {
    height: 85%;
  }
  .cart__image {
    aspect-ratio: 4/3;
  }
  .content-cart {
    gap: 10px;
  }
  .content-cart__label {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.2;
  }
  .content-cart__title {
    font-size: 22px;
  }
  .content-cart__link {
    font-size: 16px;
  }
  .content-cart__text {
    margin-bottom: 0;
  }
}
@media (max-width: 380px) {
  .cart__body {
    top: 5%;
  }
}
