@import url("https://fonts.googleapis.com/css?family=Lato:regular&display=swap");
@import url("reset.css");
/* ============================== */
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: left;
  background-color: grey;
}
.header {
  margin-bottom: 30px;
}
img {
  max-width: 500px;
  /* width: 100%; */
  padding-right: 15px;
}
h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: darkred;
}
p {
  font-size: 22px;
  color: rgb(43, 35, 94);
  margin-bottom: 10px;
}
span {
  color: darkred;
}
