@import url("fonts.css");
@import url("reset.css");
/* =============== */
body {
  background-color: rgb(251, 236, 251);
}
.trening-background {
  margin-bottom: 100px;
}
.block-1 {
  /* display: inline-block; */
  background-color: rgb(255, 99, 71);
  color: yellow;
  max-width: 300px;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}
.block-2 {
  /* display: inline-block; */
  background-image: url(../img/dancer-group.jpg);
  /* background: rgb(196, 152, 127);
  background: radial-gradient(
    circle,
    rgba(196, 152, 127, 1) 0%,
    rgba(212, 85, 0, 0.8953956582633054) 94%,
    rgba(191, 78, 0, 1) 100%
  ); */
  font-family: "ClickerScript";
  font-size: 100px;
  max-width: 1300px;
  min-height: 900px;
  margin-bottom: 10px;
}
.block-3 span {
  color: blue;
  font-size: 32px;
}
.block-3 {
  font-size: 24px;
  padding: 15px;
  background: rgb(196, 152, 127);
  background: radial-gradient(
    circle,
    rgba(196, 152, 127, 1) 0%,
    rgba(212, 85, 0, 0.8953956582633054) 94%,
    rgba(191, 78, 0, 1) 100%
  );
  background: rgb(252, 224, 114);
  background: linear-gradient(
    0deg,
    rgba(252, 224, 114, 1) 12%,
    rgba(212, 119, 0, 0.8953956582633054) 93%,
    rgba(191, 78, 0, 1) 100%
  );
  margin-bottom: 10px;
}
.block-4 span {
  font-size: 32px;
  color: red;
}
.block-4 {
  font-size: 22px;
  padding: 15px;
  color: rgb(26, 71, 31);
  background-image: url(../img/dancer-1.jpg);
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat-x; */
  background-repeat: repeat-y;
  /* background-color: rgb(154, 198, 194); */
  margin-bottom: 10px;
}
.block-5 span {
  color: darkorange;
  font-size: 24px;
}
.block-5 {
  padding: 150px;
  margin: 100px;
  max-width: 100%;
  min-height: 900px;
  color: blue;
  font-size: 18px;
  /* max-width: 800px; */
  background: url("../img/dancer-3.jpg") no-repeat fixed center / auto 200px,
    url("../img/flamenco-dance.jpg") no-repeat right / 500px auto,
    url("../img/dancer-1.jpg") no-repeat fixed left bottom / 450px,
    radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      )
      no-repeat fixed 500px 300px /400px 400px,
    linear-gradient(
      202deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 197, 255, 0.738532913165266) 34%,
      rgba(148, 152, 233, 1) 67%,
      rgba(125, 129, 226, 1) 88%
    );
  /* background-position: right top; */
  /* background-position: center; */
  /* background-position: right; */
  /* background-position: 400px 300px; */
  /* background-attachment: scroll; */
  /* background-attachment: fixed; */
  /* background-size: auto 300px; */
  /* background-size: contain; */
  /* background-size: 300px auto; */
  /*кожне наступне значення перебиває  попереднє , навіть універсальне */
}

.block-6 span {
  font-size: 42px;
  font-weight: 600;
  color: green;
  background-color: rgb(167, 237, 167);
}
.block-6 {
  /* display: none; */
  /* max-width: 600px; */
  /* background: url(../img/cat-eyes.jpg) no-repeat; */
  /* background-size: contain; */
  /* background-size: cover; */
  background: url("../img/flamenco-dance.jpg") no-repeat 0 0 / 20%,
    url("../img/cat.jpg") no-repeat top / 500px auto,
    url("../img//patt-formulas-calculations.jpg") no-repeat right top / 800px,
    url("../img/dancer-2.jpg") no-repeat bottom / 250px,
    url("../img/dancer-1.jpg") no-repeat 0 450px / 700px auto,
    url("../img/dancer-3.jpg") no-repeat right bottom / 400px,
    radial-gradient(
      circle,
      rgba(255, 190, 95, 0.6881127450980392) 0%,
      rgba(255, 213, 136, 1) 21%,
      rgba(238, 212, 160, 1) 63%,
      rgba(231, 189, 145, 1) 94%
    );
  /* кожне наступне зображення лягає під низ */
  /* background: url("../img/rockstar.jpg") no-repeat 0 0 / 200px,
    linear-gradient(
      55.95deg,
      rgba(255, 64, 58, 0.3) 0%,
      rgba(247, 94, 5, 0.3) 100%
    ),
    url("../img/home/01.png") no-repeat right top / 800px; */
}
.test span {
  color: green;
  border: 1px solid red;
}
.test {
  max-width: 1300px;
  min-height: 1200px;
  margin: 50px;
  padding: 0 60px;
  color: blue;
  font-size: 40px;
  font-weight: 500;
  background: url("../img/flamenco-dance.jpg") left 0 no-repeat;
  background-attachment: fixed;
}
/* ===================== Homework ================= */
/* =============== about ============== */
.homework {
  background-color: white;
  padding: 10px;
}
.about-block {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 673px;
}
.about-body {
  margin-bottom: 20px;
}
.about-lable {
  color: #37393f;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}
.about-lable span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
  margin-right: 6px;
}
.about-title {
  color: #37393f;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21; /* 48.4px */
  margin-bottom: 20px;
}
.about-body p {
  color: #7d7d7d;
  font-size: 18px;
  line-height: 1.46; /* 26.314px */
  margin-bottom: 15px;
}
.about-list {
  margin-bottom: 43px;
}
.about-item {
  padding-left: 35px;
  color: #37393f;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 1.5;
  background: url("../img/mark-icon.svg") 0 1.5px / 27px 27px no-repeat;
  margin-bottom: 23px;
}
.progress-cart {
  margin-bottom: 58px;
}
.progress-item {
  border: 1px solid #e3e3e3;
  max-width: 295px;
  margin-right: 21px;
  /* padding: 10px; */
}
.item-1,
.item-2 {
  display: inline-block;
  padding: 31px 31px 31px 89px;
}
.item-1 {
  background: url("../img/progress-Icon-1.svg") 31px 36px / 40px 40px no-repeat;
}
.item-2 {
  background: url("../img/progress-Icon-2.svg") 31px 36px / 40px 40px no-repeat;
}
.progress-title {
  color: #37393f;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 3px;
}
.progress-text {
  color: #7d7d7d;
  line-height: 1.35; /* 21.63px */
}
.about-link {
  display: inline-block;
  color: #fff;
  background: #6b77e5;
  padding: 21px 35px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22; /* 22px/18 */
  text-transform: capitalize;
  margin-bottom: 28px;
}
/* ================ projects =============== */
.projects {
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.projects-descr {
  max-width: 852px;
  margin: 0 auto;
  margin-bottom: 47px;
}
.projects-lable span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
  padding-left: 12px;
}
.projects-lable {
  color: #37393f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  margin-bottom: 14px;
}
.projects-title {
  color: #37393f;
  text-align: center;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21; /* 48.4px */
  margin-bottom: 14px;
}
.projects-text {
  color: #7d7d7d;
  text-align: center;
  font-size: 18px;
  line-height: 1.46; /* 26.314px */
}
.projects-carts {
  margin-bottom: 60px;
}
.project-item {
  display: inline-block;
  max-width: 384px;
  width: 100%;
  margin-right: 18px;
  margin-bottom: 58px;
}
.image-cart-1 {
  background: url("../img/project/project-1.jpg") center / cover no-repeat;
  height: 500px;
  margin-bottom: 25px;
}
.image-cart-2 {
  background: url("../img/project/project-2.jpg") center / cover no-repeat;
  height: 500px;
  margin-bottom: 25px;
}
.image-cart-3 {
  background: url("../img/project/project-3.jpg") center / cover no-repeat;
  height: 500px;
  margin-bottom: 25px;
}
.image-cart-4 {
  background: url("../img/project/project-4.jpg") center / cover no-repeat;
  height: 500px;
  margin-bottom: 25px;
}
.image-cart-5 {
  background: url("../img/project/project-5.jpg") center / cover no-repeat;
  height: 500px;
  margin-bottom: 25px;
}
.image-cart-6 {
  background: url("../img/project/project-6.jpg") center / cover no-repeat;
  height: 500px;
  margin-bottom: 25px;
}
.project-item-title {
  color: #37393f;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 10px;
}
.date-text {
  display: inline-block;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 1.57;
  background: url("../img/project/date-icon.svg") 0 0 no-repeat;
  padding-left: 25px;
}
.project-block {
  margin-bottom: 58px;
}

/* =============== Clothing =============== */
.clothing {
  max-width: 1240px;
  margin: 0 auto;
  background: url("../img/clothing-decor.jpg") 0 0 / 6px 28px no-repeat;
  padding-left: 21px;
  margin-bottom: 50px;
}
.clothing-title {
  color: #3c4242;
  font-family: "CoreSansC";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2; /* 119.643% */
  letter-spacing: 0.56px;
  margin-bottom: 30px;
}
.clothing-block {
  margin-bottom: 25px;
}
.clothing-block p {
  color: #807d7e;
  font-family: "Causten";
  font-size: 20px;
  line-height: 1.67; /* 167.5% */
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}
.clothing-block p > a {
  color: #807d7e;
  font-weight: 700;
}
.clothing-subtitle,
.clothing-link {
  color: #807d7e;
  font-family: "CoreSansC";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.67; /* 167.5% */
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}
/* ============== euphoria ========= */
.fashion {
  color: red;
  max-width: 1242px;
  margin: 0 auto;
  font-size: 0;
}
.fashion-main {
  max-width: 1242px;
  margin: 0 auto;
  font-size: 0;
  border-radius: 15px;
  overflow: hidden;
}
.fashion-wrapper {
  display: inline-block;
  background: url("../img/euphoria/euphoria-BG-1.png") center / cover no-repeat;
  max-width: 614px;
  width: 100%;
  min-height: 639px;
  height: 100%;
  padding: 183px 74px 50px 74px;
}
.fashion-descr {
  display: inline-block;
  max-width: 466px;
  width: 100%;
  min-height: 282px;
}
.fashion-wrapper-right {
  display: inline-block;
  background: url("../img/euphoria/euphoria-BG-2.png") center / cover no-repeat;
  max-width: 626px;
  width: 100%;
  min-height: 640px;
  vertical-align: top;
}
.fashion-title {
  color: rgb(255, 255, 255);
  font-family: "CoreSansC";
  font-size: 34px;
  font-weight: 800;
  line-height: 1.47;
  letter-spacing: 0.208px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.fashion-text {
  color: rgb(255, 255, 255);
  font-family: "Causten";
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 2px;
  margin-bottom: 50px;
  overflow: hidden;
}
.fashion-link {
  display: inline-block;
  color: #3c4242;
  text-align: center;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 600;
  padding: 12px 44px;
  border-radius: 8px;
  background: #ffffff;
}
.fashion-link::before {
  content: "";
  background: url("../img/euphoria/shoping-cart-icon.svg") 0 0 / cover no-repeat;
  width: 22px;
  height: 18px;
  margin-right: 20px;
}
.fashion-link::after {
  content: "";
  background: url("../img/euphoria/Icon.svg") 0 4px / 16px 16px no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 20px;
}
.fashion-link:hover {
  background-color: #9345ff;
  color: white;
}
