/* @import url("https://fonts.googleapis.com/css?family=Labrada:200,regular,700,italic&display=swap"); */

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff2")
      format("woff2"),
    url("../fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Medium.woff2")
      format("woff2"),
    url("../fonts/SF-Pro-Display/SF-Pro-Display-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff2")
      format("woff2"),
    url("../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
